---
layout: default
pagination: 
  enabled: true
title: Home
---


  <figure class="ampstart-image-fullpage-hero m0 relative mb4">
    <amp-img width="404" height="720" alt="Cover" layout="responsive" src="{{ site.baseurl }}{{ site.cover }}" media="(max-width: 415px)"></amp-img>
    <amp-img height="720" alt="Cover" layout="fixed-height" src="{{ site.baseurl }}{{ site.cover }}" media="(min-width: 416px)"></amp-img>
    <figcaption class="absolute top-0 right-0 bottom-0 left-0">
      <header class="p3">
        <h1 class="ampstart-fullpage-hero-heading mb0 hanuman">
          <span class="ampstart-fullpage-hero-heading-text title">
            {{ site.title }}
          </span>
        </h1>
        <h2 class="ampstart-fullpage-hero-heading mb0">
          <span class="ampstart-fullpage-hero-heading-text description">
            {{ site.description }}
          </span>
        </h2>
    </header>
    {% if site.cover %}
    <footer class="absolute left-0 right-0 bottom-0">
      <a class="ampstart-readmore py3 caps line-height-2 text-decoration-none center block h5" href="#content"><span class="ampstart-readmore-text px1">Read more</span></a>
    </footer>
    {% else %}
    <footer class="absolute left-0 right-0 bottom-0">
      <a class="ampstart-read py3 caps line-height-2 text-decoration-none center block h5" href="#content"><span class="ampstart-readmore-text px1">Read more</span></a>
    </footer>
    {% endif %}
    </figcaption>
  </figure>

<main id="content" role="main" class="content">
    <p>
        Nel Marzo del 2007 nasce L'AIKI SHUREN DOJO SIRACUSA, ed è così che nasce il mio cammino come DOJO CHO. MI presento, sono Danilo Lacagnina, tengo il corso di AIKIDO a Siracusa cedutomi dal maestro Salesio, non chè mio primo maestro dal quale ho appreso questa disciplina fino al conseguimento della cintura nera (1° Dan).
        Inizio L'AIKIDO all'età di 16 anni con il Maestro Salesio, a sua volta allievo, prima del maestro Sicali di Catania, poi del maestro Milazzo di Palermo ed in fine del maestro Alessandro Tittarelli, oggi mio maestro.
        Inizia quindi il mio cammino di aikidoka e da allora non ho più smesso, giorno per giorno ho avuto sempre più sete d'imparare questa stupenda arte marziale che non solo mi ha insegnato la disciplina, la tecnica, il controllo delle emozioni, l'armonia della vita, ma anche il rispetto verso il prossimo e tutto ciò che mi circonda.
        Nel mio cammino ho incontrato diversi maestri avendo la fortuna di viaggiare per il mondo, così ho avuto la possibilità di confrontarmi e capire, che L'AIKIDO è uguale in tutto il mondo e vuole trasmetterci solo una cosa: il saperci difendere con amore, sotto ogni tipo di forma ed espressione.
        Ogni grande maestro, che sia giapponese, europeo, americano, persegue lo stesso obiettivo: il voler tramandare ciò che il fondatore ha voluto insegnare sin dai tempi più antichi.
        Anche noi facciamo lo stesso, cercando di potere progredire con spirito ed armonia, condividendo ogni emozione,sensazione che l'aikido ci trasmette.
        Ancora oggi seguo il M° Alessandro Tittarelli 7° Dan Dentoo Iwama Ryu, responsabile nazionale settore AIKIDO dello CSEN, a cui noi siamo affiliati. 
        Con il suo insegnamento siamo riusciti a crescere e migliorare anno dopo anno, perseverando in questo nostro lungo cammino, augurandoci che possa durare tutta una vita.
        Cerchiamo di trasmettere le nostre esperienze ed emozioni a tutti coloro che vogliono intraprendere tale cammino, incuriositi dalla stessa sensibilità per questa "disciplina" tanto armoniosa.
        Infatti con grande onore e gioia siamo gemellati con 31° Dojo Dentoo Iwama Ryu e insieme a loro condividiamo l'Aikido in tutto e per tutto.
    </p>

</main>

{% include footer.html %}